.friendsList {
  padding: 0;
  list-style: none;
}
.friendsItem {
  border: solid 1px rgb(223, 203, 236);
  display: flex;
  width: 200px;
  height: 60px;
  margin: 10px;
  align-items: center;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}
.avatar {
  margin: 0;
  border-radius: 5px;
  margin-left: 15px;
  width: 48px;
}
.name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-left: 15px;
}
.statusOn {
  margin-left: 15px;
  width: 14px;
  height: 14px;
  background-color: lawngreen;
  border-radius: 7px;
}
.statusOff {
  composes: statusOn;
  background-color: red;
}
